
*.modulevalidation

*.idx

*.plist

*.db

*.xcactivitylog

*.strings-sym

*.strings-res

*.strings-moduleurl

*.strings-file

*.strings-dir

*.strings-cmp

*.xcindexdb-wal

*.xcindexdb-shm

*.xcindexdb

Build/Products/Release/QtDBus

Build/Products/Release/LuckyYou.dSYM/Contents/Resources/DWARF/LuckyYou

Build/Products/Release/LuckyYou

Build/Products/Debug/LuckyYou

*.o

*.d

*.dia

*.LinkFileList

*.dat

*.hmap

Build/Intermediates/LuckyYou.build/Release/LuckyYou.build/dgph

Build/Intermediates/LuckyYou.build/Debug/LuckyYou.build/dgph
